* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

/* body {
  margin: 0;
  background: linear-gradient(135deg, #111827, #1f2933);
  color: #fff;
} */

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #111827, #1f2933);
  color: #fff;
}


.center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #111;
  padding: 2rem;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.card h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 0.75rem;
  background: #2563eb;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

#error {
  color: #f87171;
  margin-top: 1rem;
  text-align: center;
}



/* .admin-layout {
  display: flex;
  height: 100vh;
} */

.admin-layout {
  display: flex;
  min-height: 100vh;
}


/* .admin-menu {
  width: 220px;
  background: #111;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
} */

.admin-menu {
  width: 220px;
  background: #111;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.admin-menu h2 {
  margin-bottom: 20px;
}

.admin-menu button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.admin-menu button:hover {
  background: #222;
}

.logout {
  margin-top: auto;
  color: #f55;
}

/* .admin-content {
  flex: 1;
  padding: 30px;
  background: #f4f4f4;
}




.admin-content {
  background: #f9fafb;
  color: #111;
} */


.admin-content {
  flex: 1;
  padding: 30px;
  background: #f9fafb;
  color: #111;
  overflow-x: auto;
}


.admin-content h1 {
  margin-bottom: 20px;
}

.admin-content table {
  width: 100%;
  border-collapse: collapse;
}

.admin-content th,
.admin-content td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}


#previewImage {
  border: 2px dashed #ccc;
  padding: 5px;
  background: #fff;
}


